<div class="col-1">
    <div class="templatemo-content-widget white-bg">
        <h2 class='text-center'>*uns</h2>
    </div>
    <div class="templatemo-content-widget white-bg">
        <h2 class='text-center'>Hares</h2>
    </div>
</div>
<div class="col-2">
    <div class="templatemo-content-widget white-bg col-2">
        <h2 class='text-center'>Kennels</h2>
        <h5 class="text-center">{% include 'members/profile/member_kennels.html' %}</h5>
    </div>
    {% include 'members/profile/profile_contact.html' %}
</div>
