{% block topbar %}
{% include 'members/topbar.html' %}
{% endblock topbar %}

{% if user.member == member %}
<script>
    document.getElementById("sidebar_My Profile_id").className = 'active'
    document.getElementById("topbar_My Profile_id").className = 'active'

</script>
{% else %}
<script>
    document.getElementById("sidebar_Browse Members_id").className = 'active'
    document.getElementById("topbar_Members_id").className = 'active'

</script>
{% endif %}


<!-- Main content -->

<div class="templatemo-content-container">
    {% include 'helpers/section_title.html' with title=member.member_hash_name widget_class='dark-bg'%}
    <!-- Row 1 -->
    <div class="templatemo-flex-row flex-content-row">
        <div class="templatemo-content-widget white-bg col-2">
            {% include 'members/profile/profile_avatar.html' %}
        </div>
        {% include 'members/profile/profile_counts.html' with member=member %}
    </div>
</div>
