{% extends 'members/members_base.html' %}
{% block sidebar %}
{% include 'sidebar.html' with active_link='myProfile' %}
{% endblock sidebar %}
{% block content %}
<div class='templatemo-content-widget templatemo-login-widget white-bg'>
    <header class="text-center">
        <h1>Edit Profile</h1>
    </header>
    <form method="post" enctype="multipart/form-data" class="templatemo-login-form">
        {% csrf_token %}
        {% include 'helpers/form_field.html' with field=form.member_avatar %}
        {% include 'helpers/form_field.html' with field=form.member_hash_name %}
        {% include 'helpers/form_field.html' with field=form.member_email %}
        <div class="form-group">
            <input type="submit" value="Save" class="templatemo-blue-button width-100">
        </div>
    </form>
</div>
{% endblock %}
