{% extends 'members/members_base.html' %}
{% block sidebar %}
{% if member.id == user.member.id %}
{% include 'sidebar.html' with active_link='profile' %}
{% else %}
{% include 'sidebar.html' with active_link='members' %}
{% endif %}
{% endblock sidebar %}
{% block content %}

<!-- Main content -->

<div class="templatemo-content-container">
    <div class="templatemo-flex-row flex-content-row">
        <div class="templatemo-content-widget blue-bg text-center col-1 col-lg-6">
            <h1>
                {{member.member_hash_name}}
            </h1>
        </div>
    </div>
    <!-- Row 1 -->
    <div class="templatemo-flex-row flex-content-row">
        <div class="templatemo-content-widget white-bg col-2">
            {% include 'members/profile/profile_avatar.html' %}
        </div>
        {% include 'members/profile/profile_counts.html' with member=member %}
    </div>
    {% comment %} <footer class="text-right">
        <p>Copyright &copy; 2084 Company Name
            | Design: Template Mo</p>
    </footer> {% endcomment %}
</div>
{% endblock content %}
