{% block topbar %}
{% include 'kennels/topbar.html' %}
{% endblock topbar %}

{% if kennel in user.member.member_kennels.all %}
<script>
    document.getElementById("sidebar_My Kennels_id").classList.add('active')
    document.getElementById("topbar_{{kennel.kennel_abbr}}_id").classList.add('active')

</script>
{% else %}
<script>
    document.getElementById("sidebar_Browse Kennels_id").classList.add('active')
    document.getElementById("topbar_Kennels_id").classList.add('active')

</script>
{% endif %}

<div class="templatemo-content-container">
    {% include 'helpers/section_title.html' with title=kennel.kennel_name widget_class='no-box-shadow'%}
    <!-- Row 1 -->
    <div class="templatemo-flex-row flex-content-row">
        <div class="templatemo-content-widget white-bg col-2">
            <h2 class="text-center">{{kennel.kennel_abbr}}</h2>
            {% include 'kennels/kennel/membership_button.html' %}
            {% if kennel.kennel_img %}
            {% include 'kennels/kennel/profile_avatar.html' %}
            {% endif %}
            {% comment %} {% include 'kennels/kennel/profile_about.html' %} {% endcomment %}
        </div>
        {% include 'kennels/kennel/kennel_members.html' %}
    </div>
    <div class="templatemo-flex-row flex-content-row">
        {% comment %} {% include 'kennels/kennel/profile_my_participation.html' %} {% endcomment %}
        {% comment %} {% include 'kennels/kennel/profile_unclaimed_attendance.html' %} {% endcomment %}
    </div>
    {% if my_membership.membership_is_admin %}
    {% include 'helpers/section_title.html' with title="Administration" widget_class='no-box-shadow'%}
    <div class="templatemo-flex-row flex-content-row">
        {% include 'kennels/kennel/consensus_votes.html' %}
    </div>

    <div class="templatemo-flex-row flex-content-row">
        {% include 'kennels/kennel/kennel_events.html' %}
        {% include  'kennels/kennel/membership_requests.html'%}
    </div>
    {% endif %}
</div>
