{% if not my_membership %}
<button id="membership_request_btn" class="templatemo-blue-button center-block" onClick="requestMembership()">Request
    Membership</button>
{% elif not my_membership.membership_is_approved %}
<button id="membership_request_btn" class="templatemo-white-button center-block" onClick="requestMembership()">Cancel
    Membership Request</button>
{% else %}
<button id="membership_request_btn" class="templatemo-pink-button center-block" onClick="requestMembership()">Leave
    Kennel</button>
{% endif %}

<script>
    function requestMembership(username) {
        if ("{{my_membership.membership_is_approved}}" === 'True' && !confirm(
                "Are you sure you want to leave {{kennel.kennel_name}}?")) {
            return
        }
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'post_membership_request' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                kennel: "{{ kennel }}"
            },
            success: function (response) {
                console.log(response)
                refreshPage()
                return false
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    }

</script>
