<div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden col-lg-6">
    <div class="{{color}}-bg white-text panel-body templatemo-position-relative">
        <h2 class="text-uppercase text-center">{{title}}</h2>
    </div>
    <input class='form-control' type="text" id="tableInput" onkeyup="tableFunction()" placeholder="Search invite codes">
    <div class="table-responsive">
        <table id='filterTable' class="table table-striped table-bordered">
            <thead>
                <tr class="header">
                    <th class='col-md-1'>Code</th>
                    <th class='col-md-1'>Expiration</th>
                    <th class='col-md-1'>Invitee</th>
                </tr>
            </thead>
            <tbody>
                {% for invite in invites %}
                {% if not invite.invite_receiver%}
                <tr>
                    <td>{{ invite.invite_code }}</td>
                    <td>{{ invite.invite_expiration }}</td>
                    <td>{% if invite.invite_receiver %}
                        <a href="/members/{{invite.invite_receiver.member_user_account.username}}">
                            {{ invite.invite_receiver.member_hash_name }}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% for invite in invites %}
                {% if invite.invite_receiver%}
                <tr>
                    <td>{{ invite.invite_code }}</td>
                    <td>{{ invite.invite_expiration }}</td>
                    <td>{% if invite.invite_receiver %}
                        <a href="/members/{{invite.invite_receiver.member_user_account.username}}">
                            {{ invite.invite_receiver.member_hash_name }}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class='btn-group-xs'>
        <button class='templatemo-blue-button btn-block' id='create_invite' onClick='create_invite()'>
            Generate New Invite
        </button>
    </div>
</div>
