  <script>
      function populate_search_table(table_id, get_url, row_html_func) {
          search_text = document.getElementById(`${table_id}_search`).value
          if (!search_text) {
              search_text = ""
          }
          $.ajax({
              type: 'GET',
              url: get_url,
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  search: search_text
              }
          }).done(function (response) {
              console.log(response)
              table_body = document.getElementById(`${table_id}_tbody`)
              table_body.innerHTML = ""
              response['results'].forEach((result) => {
                  new_row = table_body.insertRow()
                  new_row.innerHTML = window[row_html_func](result)
              })
              if (!search_text) {
                  document.getElementById(`${table_id}_tbutton`).classList.remove('hidden')
              } else {
                  document.getElementById(`${table_id}_tbutton`).classList.add('hidden')
              }
              setLinkIntercepts()
          }).fail(function (response) {
              alert(response["responseJSON"]["message"]);
          })
      }

  </script>
