<div class='btn-group-xs'>
    <button class='templatemo-blue-button btn-block' id='create_invite' onClick='create_invite()'>
        Generate New Invite
    </button>
    <script>
        /*
On submiting the form, send the POST ajax
request to server and after successfull submission
display the object.
*/
        function create_invite() {
            // make POST ajax call
            $.ajax({
                type: 'POST',
                url: "{% url 'post_invite' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    // on successfull creating object
                    // display the newly friend to table.
                    var instance = JSON.parse(response["instance"])[0];
                    var fields = instance["fields"]
                    $("[id='Invite Codes_table'] tbody").prepend(
                        `<tr>
                            <td>${fields["invite_code"]||""}</td>
                            <td>${fields["invite_expiration"]||""}</td>
                            <td></td>
                        </tr>`
                    )
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            })
        }

    </script>
</div>
