{% extends 'index.html' %}
{% load static %}

{% block body %}

<body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> <!-- jQuery -->
  <script src="{%static 'js/jquery-migrate-1.2.1.min.js'%}"></script> <!--  jQuery Migrate Plugin -->
  {% include 'helpers/index_js.html' %}
  {% include 'helpers/populate_widget_js.html' %}
  <div class="templatemo-flex-row">
    {% include 'sidebar.html' %}
    <div id="content" class="templatemo-content col-1 light-gray-bg">
      {% if content %}
      {{content}}
      {% else %}
      {% block topbar %}{% endblock topbar %}
      {% block content %}{% endblock content %}
      {% endif %}
    </div>
    <script type="text/javascript" src="{%static 'js/templatemo-script.js'%}"></script> <!-- Templatemo Script -->
</body>
{% endblock body %}
