{% extends 'base.html' %}
{% load static %}

{% block body %}

<body>
  <div class="templatemo-flex-row">
    {% block sidebar %}{% endblock sidebar %}
    <div class="templatemo-content col-1 light-gray-bg">
      {% block topbar %}{% endblock topbar %}
      {% block content %}{% endblock content %}
    </div>
    <script src="{%static 'js/jquery-1.11.2.min.js'%}"></script> <!-- jQuery -->
    <script src="{%static 'js/jquery-migrate-1.2.1.min.js'%}"></script> <!--  jQuery Migrate Plugin -->
    <script type="text/javascript" src="{%static 'js/templatemo-script.js'%}"></script> <!-- Templatemo Script -->
    {% include 'helpers/search_table_js.html' %}
</body>
{% endblock body %}
