<script>
  function clearActiveSidebarLink() {
    links = document.getElementsByTagName("a")
    for (var a of links) {
      a.className = ""
    }
  }

  function refreshPage() {
    followLink(location.pathname)
  }

  function followLink(url) {
    $.ajax({
      type: 'GET',
      url: url,
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        partial_render: ''
      },
      success: function (response) {
        clearActiveSidebarLink()
        setInnerHTML(document.getElementById('right_side_id'), response.html)
        if (url !== location.pathname) {
          document.title = response.pageTitle;
          window.history.pushState({
            "html": response.html,
            "pageTitle": response.pageTitle
          }, "", url);
        }
      },
      error: function (response) {
        // alert the error if any error occured
        alert(response["responseJSON"]["error"]);
      }
    })
  }

  window.onpopstate = function (e) {
    if (e.state) {
      clearActiveSidebarLink()
      setInnerHTML(document.getElementById("right_side_id"), e.state.html)
      document.title = e.state.pageTitle;
    }
  };

  function setInnerHTML(elm, html) {
    elm.innerHTML = html;
    Array.from(elm.querySelectorAll("script")).forEach(oldScript => {
      const newScript = document.createElement("script");
      Array.from(oldScript.attributes)
        .forEach(attr => newScript.setAttribute(attr.name, attr.value));
      newScript.appendChild(document.createTextNode(oldScript.innerHTML));
      oldScript.parentNode.replaceChild(newScript, oldScript);
    });
  }

</script>


<!-- Left column -->
<div class="templatemo-sidebar">
  <header class="templatemo-site-header">
    <div class="square"></div>
    <h1>PackTRAK</h1>
  </header>
  {% if user.member.member_avatar %}
  <div class="profile-photo-container hidden-xs">
    <img src="{{user.member.member_avatar.url}}" alt="Profile Photo" class="img-responsive">
    <div class="profile-photo-overlay"></div>
  </div>
  {% endif %}
  <div class="mobile-menu-icon">
    <i class="fa fa-bars"></i>
  </div>
  <nav class="templatemo-left-nav">
    <ul id='sidebar_links_id'>
      {% include 'helpers/bar_link.html' with location='sidebar' text='Dashboard' url='/' icon='fa-bar-chart' %}
      {% include 'helpers/bar_link.html' with location='sidebar' text='My Profile' url='/members/'|add:user.username icon='fa-user' %}
      {% include 'helpers/bar_link.html' with location='sidebar' text='My Kennels' url='/kennels/mykennels' icon='fa-home' %}
      {% include 'helpers/bar_link.html' with location='sidebar' text='Browse Members' url='/members' icon='fa-users' %}
      {% include 'helpers/bar_link.html' with location='sidebar' text='Browse Kennels' url='/kennels' icon='fa-search' %}
      <li><a href="/accounts/logout?next=/"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li>
    </ul>
  </nav>
</div>
