{% url 'dashboard' as dashboard_url %}
{% url 'profile' username=user.username as profile_url %}
{% url 'hashers' as hashers_url %}
{% url 'kennels' as kennels_url %}
<!-- Left column -->
<div class="templatemo-sidebar">
  <header class="templatemo-site-header">
    <div class="square"></div>
    <h1>PackTRAK</h1>
  </header>
  {% if user.profile.avatar %}
  <div class="profile-photo-container hidden-xs">
    <img src="{{user.profile.avatar.url}}" alt="Profile Photo" class="img-responsive">
    <div class="profile-photo-overlay"></div>
  </div>
  {% endif %}
  <div class="mobile-menu-icon">
    <i class="fa fa-bars"></i>
  </div>
  <nav class="templatemo-left-nav">
    <ul id='sidebar_links_id'>
      {% include 'helpers/bar_link.html' with location='sidebar' text='Dashboard' url=dashboard_url icon='fa-bar-chart' %}
      {% include 'helpers/bar_link.html' with location='sidebar' text='My Profile' url=profile_url icon='fa-user' %}
      {% include 'helpers/bar_link.html' with location='sidebar' text='Hashers' url=hashers_url icon='fa-users' %}
      {% include 'helpers/bar_link.html' with location='sidebar' text='Kennels' url=kennels_url icon='fa-home' %}
      <li><a href="/accounts/logout?next=/"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li>
    </ul>
  </nav>
</div>
