{% extends 'base.html' %}

{% block body %}

<body class="light-gray-bg">
    <div class="templatemo-content-widget templatemo-login-widget white-bg">
        <header class="text-center">
            <h1>Create New Account</h1>
        </header>

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="errornote">
            {{ error }}
        </p>
        {% endfor %}
        {% endif %}


        <form method="post" class="templatemo-login-form">
            {% csrf_token %}
            {% include 'helpers/form_field.html' with field=form.username icon='fa-user' %}
            {% include 'helpers/form_field.html' with field=form.password1 icon='fa-key' %}
            {% include 'helpers/form_field.html' with field=form.password2 icon='fa-key' %}
            {% include 'helpers/form_field.html' with field=form.invitecode icon='fa-gift' %}
            <div class="form-group">
                <input type="submit" value="Create Account" class="templatemo-blue-button width-100">
            </div>

        </form>
    </div>
    <div class="templatemo-content-widget templatemo-login-widget templatemo-register-widget white-bg">
        <p>Already a member? Head (who said head?) to the <strong><a href="/" class="blue-text">Login
                    Page</a>.</strong>
        </p>
    </div>
</body>
{% endblock %}
