<thead>
    <tr class="header">
        <th class='col-lg-1'>Hash Name</th>
        {% if my_membership.membership_is_admin %}
        <th class='col-lg-1'>Administration</th>
        {% endif %}
    </tr>
</thead>
<tbody>
    {% for membership in kennel_membership.all %}
    {% if membership.membership_is_approved %}
    <tr id="members_{{membership.membership_member.id}}_id">
        {% include 'kennels/members/members_search_row.html' with this_member=membership.membership_member %}
    </tr>
    {% endif %}
    {% endfor %}
</tbody>
