<thead>
    <tr class="header">
        <th class='col-lg-1'>Hash Name</th>
        <th class='col-lg-1'>Action</th>
    </tr>
</thead>
<tbody>
    {% for membership in kennel_membership.all %}
    {% if not membership.membership_is_approved %}
    <tr id="{{membership.membership_member.member_user_account.username}}">
        <td searchable class='col-lg-1'><a class='intercept'
                href="/members/{{membership.membership_member.member_user_account.username}}">{{ membership.membership_member.member_hash_name }}</a>
        </td>
        <td class='col-lg-1'>
            <button class="btn-xs green-bg"
                onClick=respondMembershipRequest('approved',"{{membership.membership_member.member_user_account.username}}")>Approve</button>
            <button class="btn-xs red-bg"
                onClick=respondMembershipRequest('denied',"{{membership.membership_member.member_user_account.username}}")>Deny</button>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</tbody>

<script>
    function respondMembershipRequest(choice, username) {
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'post_membership_response' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                choice: choice,
                kennel: "{{ kennel }}",
                username: username
            },
            success: function (response) {
                console.log(username)
                $("#" + username).addClass('hidden')
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    }

</script>
