{% block topbar %}
{% include 'kennels/topbar.html' %}
{% endblock topbar %}

{% if title == 'Kennels' %}
<script>
    document.getElementById("sidebar_Browse Kennels_id").className = 'active'
    document.getElementById("topbar_Kennels_id").className = 'active'

</script>
{% else %}
<script>
    document.getElementById("sidebar_My Kennels_id").className = 'active'
    document.getElementById("topbar_Kennels_id").className = 'active'

</script>
{% endif %}


<div class="col-1">
    {% include 'helpers/search_table.html' with table_template='kennels/kennel_search_table.html' %}
</div>
