<thead>
    <tr class="header">
        <th class='col-lg-1'>Name</th>
        <th class='col-sm-1'></th>
        <th class='col-lg-1'>Location</th>
    </tr>
</thead>
<tbody>
    {% for kennel in kennels %}
    <tr>
        <td searchable class='col-lg-1'><a href="profile/{{kennel.kennel_name}}">{{ kennel.kennel_name }}</a></td>
        <td searchable class='col-sm-1'>{{ kennel.kennel_abbr }}</td>
        <td searchable class='col-lg-1'>{{ kennel.kennel_city }}</td>
    </tr>
    {% endfor %}
</tbody>
