<!-- Top bar -->

<div class="templatemo-top-nav-container">
    <div class="row">
        <nav class="templatemo-top-nav col-lg-12 col-md-12">
            <ul class="text-uppercase">
                {% include 'helpers/bar_link.html' with location='topbar' text='Kennels' url='/kennels' %}
                {% for kennel in user.kennels.all %}
                {% include 'helpers/bar_link.html' with location='topbar' text=kennel.acronym url='/kennels/'|add:kennel.name %}
                {% endfor %}
                {% include 'helpers/bar_link.html' with location='topbar' text='Create New Kennel' url='/create_kennel' %}
            </ul>
        </nav>
    </div>
</div>
