<!-- Top bar -->

<div class="templatemo-top-nav-container">
    <div class="row">
        <nav class="templatemo-top-nav col-lg-12 col-md-12">
            <ul class="text-uppercase">
                {% include 'helpers/bar_link.html' with location='topbar' text='Kennels' url='/kennels' %}
                {% for member_kennel in user.member.member_kennels.all %}
                {% include 'helpers/bar_link.html' with location='topbar' text=member_kennel.kennel_abbr url='/kennels/profile/'|add:member_kennel.kennel_name %}
                {% endfor %}
                {% include 'helpers/bar_link.html' with location='topbar' text='Create New Kennel' url='/kennels/create_kennel' %}
            </ul>
        </nav>
    </div>
</div>
